<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unam.pdm.vakeros">

    <!-- Permiso para el podómetro -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <!-- Permiso para mantener el telefono encendido -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vakeros">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vakeros.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Servicio para utilizar JobIntendService -->
        <service
            android:name=".SoundPlayer"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />
    </application>

    <!-- Restricción para usar la salida de audio de forma opcional -->
    <uses-feature android:name="android.hardware.audio.output"
        android:required="false"/>
    <!-- Restricción para usar el podómetro de forma opcional -->
    <uses-feature android:name="android.hardware.sensor.stepdetector"
        android:required="false"/>
    <!-- Restricción para que la pantalla que permita la posición landscape de forma obligatoria -->
    <uses-feature android:name="android.hardware.screen.landscape"
        android:required="true"/>
    <!-- Restricción para que la pantalla sea táctil de forma obligatoria -->
    <uses-feature android:name="android.hardware.touchscreen"
        android:required="true"/>



</manifest>